﻿<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">@(PageData["title"] ?? "Lakeba Test")</title>
    <meta name="description" content="@PageData["description"]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/content/css/app")
    <script src="https://ingress-api.quixxi.com/CDN/quixxianalytics.min.js"></script>
    <script>
        Quixxi.init("3b76c4f6-3519-43dc-b612-ff97cb76463e", "RMAsUgBJzSFqggGxqDxv", false);
        Quixxi.q.push(['RegisterUser', {
        }]);
    </script>
    <base href="/">
</head>
<body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="navbar navbar-inverse navbar-static-top" role="banner" ng-if=" !layout ">
        @* The 'layout' property is set inside the app.run(..) method on '$stateChangeSuccess' *@
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".spa-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="./" class="navbar-brand">Home</a>
        </div>
        <nav class="collapse navbar-collapse spa-navbar-collapse" role="navigation">

            <ul class="nav navbar-nav">
                <li>
                    <a href="./candidate">Candidate</a>
                </li>

            </ul>

        </nav>
    </div>
</header>

<div id="ui-view" class="container-fluid" ui-view data-tmpl-url="@Request.RequestContext.RouteData.DataTokens["templateUrl"]">
    @RenderBody()
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
<script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script> 
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.1.js"></script>

@Scripts.Render("~/js/app")

</body>
</html>