﻿<div ng-controller="CandidateCtrl">
    <div class="row">
        <div class="col-md-12">
            <div>
                <div ui-grid="gridOptions" class="myGrid">
                    <div class="no-rows" ng-show="!gridOptions.data.length">
                        <div class="msg">
                            <span>No candidate rows available</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row ">
        <div class="col-md-12">
            
            <br/>
            <button type="button" class="btn btn-default btn-sm" ng-click="Add();">Add New Candidate</button>
        </div>
    </div>
    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
    <script type="text/ng-template" id="myModalContent.html">
        <form name="candidateForm" novalidate ng-submit="Save()">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">{{mode}} a Candidate</h3>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" required name="name" ng-model="candidate.Name">
                    <p ng-show="candidateForm.name.$touched && candidateForm.name.$error.required">Your name is required.</p>
                </div>
                <div class="form-group">
                    <label for="surname">Surname:</label>
                    <input type="text" class="form-control" required name="surname" ng-model="candidate.SurName">
                    <p ng-show="candidateForm.surname.$touched && candidateForm.surname.$error.required">Your surname is required.</p>
                </div>

                <div class="form-group">
                    <label for="">Position:</label>
                    <div class="btn-group" uib-dropdown>
                        <button id="split-button" type="button" class="btn"><span ng-if="candidate.PositionName.length==0">Select Position</span><span ng-bind="candidate.PositionName"></span></button>
                        <button type="button" class="btn " uib-dropdown-toggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                            <li role="menuitem" ng-class="{'active':IstheSamePositionID(position.ID)}" ng-repeat="position in positions">
                                <a id="position.ID" ng-click="setPosition(position.ID,position.Name)" href="#">{{ position.Name }}</a>
                            </li>
                        </ul>
                    </div>
                    <input ng-model="candidate.PositionID"  type="hidden" name="positionid" required />
                    <p ng-show="candidate.PositionID==0">Position is required</p>
                </div>
                <div class="form-group">
                    <label for="surname">Curiculumn:</label>
                    <input type="file" ngf-select ng-model="candidate.TemporaryFile" name="file" 
                           accept="application/pdf,application/octet-stream" ngf-pattern=".pdf,.doc" ngf-max-size="2MB" 
                           ngf-model-invalid="errorFile">
                    <p ng-show="candidate.CVFileName.length>0">{{candidate.CVFileName}}</p>
                </div>


            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="candidateForm.$invalid" >
                    Save
                </button>
                <button class="btn btn-warning" type="button" ng-click="ClosePopUp()">Cancel</button>
            </div>
        </form>

    </script>
</div>